
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.color-transition {
  width: 100vw;
  height: 100vh;
  background-color: #3498db;
  transition: background-color 0.5s ease;
}

.color-transition:hover {
  background-color: #948d8d;
}

.color-transition:hover:hover {
  background-color: #64bb88;
}
h1{
    text-align: center;
    color: white;
}