body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .rotate-effect {
    width: 100px;
    height: 100px;
    background-color: #636566;
    transition: transform 0.3s ease;
  }
  
  .rotate-effect:hover {
    transform: rotate(-45deg);
  }
  h2{
    color: white;
    text-align: center;
  }
  